__pycache__/
*.pyc
*.db
.venv/
.env
test_data/
*.egg-info/
dist/
build/
spark-warehouse/
metastore_db/
/tmp/spark-checkpoints/
terraform/.terraform/
terraform/*.tfstate*
terraform/.terraform.lock.hcl
terraform/terraform.tfvars
docker-compose.local.yml
.env.aws
